@charset "UTF-8";

<style>
        body {
            background-color: rgb(80, 171, 207);
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            color: darkgray;
            font-family: Arial, Helvetica, sans-serif;
            background-color: teal;
        }
    </style>