@charset "UTF-8";

body {
    background-color: #3F88C5;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

h1#principal {
    text-align: center;
    background-image: linear-gradient(to right, #D00000, #FFBA08, #3F88C5, #032B43, #136F63);
    background-attachment: fixed;
    color: #000000;
}

p {
    text-align: justify;
}

.basico {
    background-color: rgb(12, 74, 12);
}

.intermediario {
    background-color: yellow;
}

.avancado {
    background-color: red;
}