@charset "UTF-8";

/*
Pesquisa por: Typical Device BreakPoints
--------------------------------------------------------------------------
-> Pequenhas telas: até 600px
-> Celular: de 600px até 768px
-> Tablet: de 768px até 992px
-> Desktop: de 992px até 1200px
-> TV: 1201px acima

--------------------------------------------------------------------------

/*@media screen (min-width: 600px) and (max-width: 768px) {

} MOBILE-FIRST JÁ FEITO
*/


@media print /* Impressora */{

    body {
        background-image: url(../imagens/back-print.jpg); /*Desnecessário porque não funciona*/
        border: 2px solid black;
        border-radius: 10px;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        text-shadow: none;
    }

    main::after {
        content: 'Esta impressão foi realizada no site do Nathan';
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) /* tablet */ {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) /* desktop */ {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) /* televisões */{
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 1000px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}