@charset "UTF-8";


/*
Video no minuto 18:09;
*/
/*
Importação de fonte externa do google fontes que não está dentro das pastas do projeto principal;
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&display=swap');

/*
Importação da fonte android que já estava na pasta do projeto.
*/
@font-face {
    font-family: 'Android';
    src: url("/fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

/*
Esse root serve para criarmos dentro do código uma coloração e fonte própria para não precisar ficar colando toda hora o codigo da cor desejada e não ficar copiando o nome da fonte toda a hora.

As cores estão organizadas, sempre começando por dois traços em css, pelo nome que desejamos que ela seja conhecida dentro do código, e depois informando qual cor que esse nome se referirá.

Abaixo, também denominamos para as fontes, importando acima as fontes desejadas e aqui dentro nomendo elas para facilitar a escrita do código. por exemplo, fizemos a importação da fonte BEBAS pelo google fonts, e queremos que ela seja a fonte destaque do site, então nomeamos ela por fonte destaque.
*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', sans-serif; 
}

/*
Aqui é uma configuração global, ou seja, todos os termos irão respeitar ela, já que ela se refere a todos os termos contidos dentro do nosso código.

Fizemos uma formatação para que todos os elementos colem nos cantos do site, sem ficar sobrando espaço na escrita e a margem.
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo:after {
    content: '\1F517';
} 


header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.693);
    font-weight: normal;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.693);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.455);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s; /*Tempo de reação quando passar sobre o link*/
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px; /*Passado disso o site para de crescer, quando tiver menos ele adapta*/
    margin: auto; /*quando estiver em tela muito grandes, não ficar crescendo, ele fica estático no meio*/
    margin-bottom: 30px; /*Distancia de baixo do conteúdo dentro de main do conteúdo do rodapé.*/
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor3);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent); /*Gradiente da cor desejada até a transparência*/
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*O tab do teclado*/
    line-height: 2em; /*Espaçamento entre linhas, espaço vertical*/
    font-size: 1em; /*Tamanho do texto*/
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%; /*Irão ter a largura independente do conteúdo em 100%, ou seja, Imagens se expremam e se adaptem*/
}

main img.pequena {
    max-width: 350px; /*Melhora a qualidade. feito depois do debaixo, adaptado.*/
    /*width: 50%; Assim ela fica com metade da largura sempre, independente da tela, não ficando aquela imagem gingantesca e sem qualidade*/
    /*As imagens por padrão não são um bloco, e queremos deixar esta imagem centralizada, por isso, se darmos somente o margin auto, ele não vai reconhecer ela como um bloco, então vamos dar a tag display e block. Veja abaixo:*/
    display: block; /*Virou bloco*/
    margin: auto; /*Centralizamos o bloco*/
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    /*Gambiarra pra deixar o video no meio, o class debaixo também*/
    padding-bottom: 10%;
    position: relative;
}

div.video > iframe {
    position: relative;
    top: 10%;
    left: 10%;
    width: 81%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.549);
}

aside > ul {
    list-style-type: '\2714\00a0\00a0'; /*Emoji antes, 00a0 é a separação pra não ficar colado na escrita*/
    list-style-position: inside; /*Lista não ficar pra fora do aside, ou seja, aqueles pontos para fora*/
    columns: 2; /*dividir em duas colunas essa lista inteira*/
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 7px;
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}

footer a:hover {
    color: var(--cor5);
    background-color: var(--cor0);
    border-radius: 5px;
    transition-duration: 0.5s;
    font-size: 1.1em;
}