@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #034159, #025951, #02735E)
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #0cf25db3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #0CF25D;
text-align: center;
text-shadow: 3px 3px 5px black;
}

h2 {
color: #038C3E;
}

p {
text-align: justify;
}